{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
GitCrab - {{ item.name }}
{% endblock title %}

{% block content %}
<div style="display: flex; height: 100vh; overflow: hidden;">
    <!-- Explorer Panel -->
    <div id="explorer-panel" style="width: 300px; background-color: #2b2d42; color: #edf2f4; padding: 10px; overflow-y: auto;">
        <h3>Explorer</h3>
        {{ macros::render_repo_structure(structure=data.structure) | safe }}
    </div>

    <!-- Content Viewer Panel -->
    <div id="content-viewer" style="flex-grow: 1; background-color: #494c4d; padding: 20px; overflow-y: auto;">
        <h3 id="fileNameHeading" style="display: none;">File Content</h3>
        <pre id="fileContentText" style="white-space: pre-wrap; word-wrap: break-word; overflow-x: auto; display: none; background-color: black; padding: 10px; border-radius: 5px;"></pre>
    </div>
</div>


{% endblock content %}
{% block js %}

<script>
 // Toggle visibility of directories
    function toggleDirectory(element) {
        const nestedUl = element.nextElementSibling;
        if (nestedUl) {
            nestedUl.style.display = nestedUl.style.display === 'block' ? 'none' : 'block';
        }
    }

    // Load and display content of the clicked file
    function loadContent(fileName, content) {
        const fileHeading = document.getElementById('fileNameHeading');
        const fileContentText = document.getElementById('fileContentText');

        // Display content panel
        fileHeading.style.display = 'block';
        fileContentText.style.display = 'block';

        // Update content details
        fileHeading.textContent = `File: ${fileName}`;
        fileContentText.textContent = content.trim() || 'No content available.';
    }

</script>
{% endblock js %}
